
{% include "base.html" %}






{% block content %}
	

<form method="GET" action=''>
<input type="text" name='q' placeholder="Search posts" value='{{ request.GET.q}}'/>
<input type="submit" value="Search"/>


</form>	













	<h1>GENDER</h1>
{% load fontawesome %}

<head>
  {% fontawesome_stylesheet %}
  {% fontawesome_icon 'fas fa-cart-plus' color='black' %}
  
  
</head>


<div style="font-size: 24px;">
	{% fontawesome_icon 'fas fa-user fa-10x' color='black' %}
</div>


{% fontawesome_icon 'star' large=True spin=True %}

<ul class="fa-ul">
   <li> {% fontawesome_icon 'home' rotate=90 li=True %} One</li>
</ul>






	{% for shoe in shoe_list %}


		{% if shoe.gender == 'F' %}

			<div class="container">
				<div class="card" style="width: 18rem;">
				  <img src="{{shoe.image.url}}" class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">{{shoe.name}}</h5>
				    <p class="card-text">Type: {{shoe.style}}</p>
				    <p class="card-text">Size: {{shoe.size}}</p>
				    <p class="card-text">${{shoe.price}}</p>
				    <p class="card-text">Only {{shoe.stock}} available</p>
				    <p class="card-text">Only {{shoe.availability}}</p>
				    <a href="#" class="btn btn-primary">Go somewhere</a>
				    <input id="apto" type="checkbox">
				   	<label for="apto">Liked</label>
				  </div>
				</div>
			</div>

		{% endif %}



	{% endfor %}



{% endblock %}



